@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: black; */
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
}
/* header */
.header {
	/* background-color: aliceblue; */
	background-color: #000000a2;
	/* background: none !important; */
	/* width: 1535px; */
	width: 100%;
	height: 100px;
	z-index: 9;
	position: relative;
}
.js_scroll_header {
	position: fixed;
	background-color: black;
	animation: scrollH ease-in-out 0.5s;
}
@keyframes scrollH {
	from {
		transform: translateY(-100px);
	}
	to {
		transform: translateY(0);
	}
}
.header_content {
	/* width: 1170px; */
	display: flex;
	justify-content: space-around;
	height: 100px;
}
.hd_menu ul {
	list-style-type: none;
}
.menu_main {
	display: flex;
}
.hd_menu {
	align-self: center;
}
.header_mid {
	text-align: -webkit-center;
}

.menu_list_home {
	text-decoration: none;
}
.menu_list {
	padding-right: 3em;
}
.logo {
	height: 100px;
	width: 11rem;
	display: flex;
}
.logo_link img {
	height: 100%;
	width: 12rem;
	object-fit: cover;
	margin-top: 6px;
}
.list_color {
	color: #ffde3c;
	font-size: 19px;
	cursor: pointer;
}
.menu_list_home:hover span:hover {
	color: white;
}
.logo_text {
	color: white;
	position: absolute;
	padding-top: 56px;
	font-weight: 600;
	font-family: Montserrat;
	letter-spacing: 0.14em;
	cursor: default;
}

.header_bot {
	/* width: 1535px; */
	width: 100%;
	height: 46rem;
	/* background-image: url("./back.png");
    object-fit: cover;  */
	position: relative;
	top: -257px;
	z-index: 8;
}
.header_bot img {
	width: 100%;
	height: 100%;
}
@keyframes slg {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.slg_ctn {
	position: relative;
	top: 26rem;
	margin-left: 17.5rem;
	text-transform: uppercase;
	font-family: fantasy;
	line-height: 2.1em;
	letter-spacing: 0.14em;
	transform-origin: bottom left;
	cursor: context-menu;
	animation: slg linear 1s;
}
.slg1 {
	font-size: 37px;
}

.slg2 {
	font-size: 37px;
	margin-left: 3px;
	animation: slg linear 1s;
}
.slg3 {
	color: white;
	letter-spacing: normal;
	font-size: 10px;
	text-transform: uppercase;
	font-family: none;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 15px;
	padding-top: 15px;
	/* animation: slg linear 1s; */
}
.start {
	/* width: 207px;
    height: 45px; */
	padding-top: 17px;
	animation: slg linear 1s;
	/* transform-origin: bottom right; */
}
.start_content {
	position: absolute;
	width: 207px;
	height: 38px;
	display: flex;
	justify-content: center;
	/* background-color: #00bfc5; */
	align-items: center;
	text-decoration: none;
	color: #fffffff1;
	/* border: 1px solid; */
	letter-spacing: 0.1em;
	border: 4px solid;
	background-color: #00bfc587;
}
.start_content:hover {
	/* border: 4px solid; */
	/* background-color: #00bfc593; */
	background-color: #00bfc5;
	border: 1px solid;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(0 0 0 / 49%);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9;
	display: none;
	backdrop-filter: blur(3px);
}
.modal.open {
	display: flex;
}
.modal_login {
	background-color: white;
	width: 600px;
	min-height: 200px;
	animation: modal_log ease 0.6s;
	border: 1px solid white;
	border-radius: 12px;
	padding: 10px 18px;
}
.modal_login_header {
	background-color: #05959a;
	height: 120px;
}
.modal_login_header {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 30px;
}
.modal_login_close {
	/* background-color: #009688; */
	/* display: flex; */
	/* width: 80%; */
	position: absolute;
	/* justify-content: flex-end; */
}
.modal_login_x {
	cursor: default;
	/* position: absolute; */
	/* position: relative; */
	/* top: -17px;
    left: 19px; */
	position: absolute;
	top: -26px;
	left: 553px;
}
.modal_login_x img {
	width: 40px;
}
.modal_login_label {
	font-size: 23px;
}
@keyframes modal_log {
	from {
		opacity: 0;
		transform: translateY(-140px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.modal_login_body {
	display: flex;
	flex-direction: column;
}
.modal_login_footer {
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 10px;
}
.modal_help a {
	color: blue;
	text-decoration: none;
}
.modal_help {
	padding-right: 13px;
	padding-top: 10px;
}
/* modal register */
.modal1 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(0 0 0 / 49%);
	z-index: 9;
	display: none;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(3px);
}
.modal1.open {
	display: flex;
}
.modal_register {
	background-color: white;
	width: 600px;
	min-height: 400px;
	animation: modal_log ease 0.6s;
	border: 1px solid white;
	border-radius: 12px;
	padding: 10px 18px;
}
/* footer */
.footer {
	height: 20rem;
	background-color: black;
}
.lg_ft {
	height: 100px;
	width: 12rem;
	/* display: flex; */
}
.logo_footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
}
.logo_link_footer img {
	height: 100%;
	width: 12rem;
	object-fit: cover;
	margin-top: 6px;
}
.logo_text_footer {
	color: white;
	padding-left: 21px;
	font-weight: 600;
	font-family: Montserrat;
	letter-spacing: 0.74em;
	cursor: default;
	text-align: center;
	width: 100%;
	/* margin-top: -12px; */
	font-size: 20px;
}
.icon_fb {
	background-color: #01446f;
}
.size_icon {
	font-size: 30px;
}
.icon_footer {
	margin: 0 10px;
	cursor: pointer;
}
.icon_fb:hover {
	background-color: blue;
}
.icon_link_footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}
.list_icon_footer {
	display: flex;
}
.icon_yt {
	background-color: #ca2828;
}
.icon_yt:hover {
	background-color: red;
}
.icon_footer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon_twitter {
	background-color: #1bb2d8;
}
.icon_twitter:hover {
	background-color: #0b44c0;
}
.icon_insagram {
	background-color: #ed5189;
}
.icon_insagram:hover {
	background-color: #f71868;
}
.icon_map {
	background-color: #4b3939;
}
.icon_map:hover {
	background-color: black;
	color: red;
}
.icon_footer a {
	height: 30px;
	border-radius: 5px;
	color: white;
}
.text_rules {
	color: white;
	text-align: center;
	padding-top: 30px;
	font-size: 17px;
}
.text_rules a {
	text-decoration: none;
	color: #00bfc5;
}

/* modal login */
.modal_taikhoan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 40px 0px 40px;
}
.modal_taikhoan input {
	border: none;
	border-bottom: 1px outset;
	width: 87%;
	height: 25px;
	outline: none;
	letter-spacing: 1px;
}
.modal_matkhau {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px 40px 40px;
}
.modal_matkhau input {
	border: none;
	border-bottom: 1px outset;
	width: 87%;
	height: 25px;
	outline: none;
	letter-spacing: 1px;
}
.modal_login_login {
	height: 40px;
}
/* modal register */
.modal_register_header {
	background-color: #05959a;
	height: 120px;
	color: white;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	border-radius: 10px;
}
.fl {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px 10px 40px;
}
.fl input {
	width: 70%;
	border: none;
	border-bottom: 1px outset;
	outline: none;
	height: 25px;
}
.modal_but {
	display: flex;
	justify-content: flex-end;
	padding: 20px 40px 10px 0px;
}
.modal_but button {
	height: 30px;
	width: 20%;
}
/* .modal_register_footer {
	width: 100%;
	background-color: #05959a;
	height: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
} */
.modal_but button:hover {
	background-color: #05959a;
	color: white;
	border: none;
	font-weight: 600;
}
/* Body */
.body_mid {
	height: 350px;
	background: no-repeat;
	background-size: cover;
	background-image: url("./image/bodyback.jpg");
	margin-top: -130px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.advise {
	width: 20%;
	height: 270px;
	background-color: #fffffffa;
	box-shadow: 2px 3px 10px 0px black;
}
.ad1 {
	border: 15px solid #ffde3c;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.ad2 {
	border: 15px solid #0ce682;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.ad3 {
	border: 15px solid #06eaf3;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.ad_top_content1 {
	display: flex;
}
.ad_top_conten1 img {
	padding-right: 5px;
}
.atc_text1 {
	padding-top: 18px;
}
.atc_text1 p {
	color: #616466;
	font-size: 12px;
	letter-spacing: -0.6px;
	text-align: left;
	cursor: default;
}
.atc_text1 .link1 {
	color: #041721;
	text-decoration: none;
	letter-spacing: -0.6px;
	font: 700 27px/1.1667em "Montserrat";
	text-align: left;
}
.atc_text1 .link1:hover {
	color: #05959a;
}
.ad_bot_content1 {
	text-align: left;
	width: 82%;
	font-size: 16px;
	color: #616466;
	line-height: 1.45em;
	cursor: default;
}
.ad3 .ad_bot_content1 {
	padding-left: 10px;
}
.ad_top_content1 img {
	padding-right: 10px;
}
.ad2 img {
	margin-left: -25px;
}
/* best books */
.best_book_title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 3rem;
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 30px;
}
.image_book {
	width: 210px;
	height: 316px;
	background-size: cover;
	background-position: center center;
	border: 0.1px solid gray;
}
.list_best_books {
	display: flex;
	justify-content: space-evenly;
	padding: 0px 71px;
}
.aut_book {
	color: #b1b7ba;
	font-size: 13px;
	font-weight: 400;
}
.aut_book span {
	color: #0372c4;
}
.title_book {
	text-decoration: none;
	color: black;
	font-weight: 700;
	font-size: 15px;
	font-family: "Open Sans";
}
.tt_book {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 22px;
	max-width: 210px;
	text-align: center;
	padding: 10px 0px 20px 0px;
}
.image_hover {
	background-color: #ffff00b5;
	height: 100%;
	/* display: flex; */
	align-items: center;
	justify-content: center;
	display: none;
	position: relative;
	bottom: 318px;
}
.image_book:hover .image_hover {
	display: flex;
}
.search_image {
	width: 50px;
	height: 50px;
	border: 5px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.search_image:hover {
	background-color: #ffffffcc;
}
.icon_search i {
	font-size: 30px;
	font-weight: bold;
}
@keyframes search_book {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.image_book:hover .search_image {
	animation: search_book ease-in 0.3s;
}
.image_book img {
	width: 100%;
	height: 100%;
	object-position: center center;
}
/* back home */
.back_home {
	height: 40px;
	width: 40px;
	border: 4px solid #01446f;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.link_back_home:hover .back_home {
	background-color: #aadee2;
}
.link_back_home {
	position: fixed;
	z-index: 9999;
	bottom: 20px;
	right: 20px;
	animation: backHome ease 0.5s;
	display: none;
}
.js_back_home {
	display: block;
}
@keyframes backHome {
	from {
		opacity: 0;
		transform: translateY(60px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* trang DetailBooks.html */

.detail_body {
	/* background-color: #efefef; */
	/* padding-left: 130px;
	padding-right: 130px; */
	padding: 30px 130px;
	display: flex;
	justify-content: space-between;
}
.detail_book {
	background-color: white;
	width: 73%;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 7px;
	box-shadow: 1px 1px 4px #544c4c;
}
.detail_ml {
	background-color: #4b3939;
	width: 25%;
}
.detail_img {
	height: 20rem;
	/* background-color: white; */
	/* border: 1px solid black; */
	width: 45%;
	/* padding-top: 10px; */
	/* padding-bottom: 10px; */
	border-right: 1px solid #00000017;
}
.detail_img img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}
.detail_info {
	width: 55%;
	line-height: 40px;
	padding-left: 10px;
}
.title_info {
	font-size: 25px;
	padding-bottom: 20px;
}
.detail_aut_book {
	font-size: 20px;
	color: #b1b7ba;
}
.detail_aut_book span {
	color: black;
}
.list_share {
	font-size: 25px;
	/* padding-left: 20px; */
}
.list_share .fb {
	color: blue;
}
.list_share .mes {
	color: #2a88f4;
}
.listt_share .tw {
	color: #25a2a4;
}
.list_share i {
	font-size: 25px;
	padding-left: 10px;
}
/* .detail_share {
	text-align: center;
	padding-top: 10px;
} */
